<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>
<div class="container" *ngIf="!isLoading">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()">
    <p class="card-text">
      Tipo de perfil: <strong>{{ UserProfile?.role }}</strong>
    </p>
    <div class="row">
      <div class="col">
        <div class="form-group">
          <label for="inputName">Nombre</label>
          <input
            type="text"
            class="form-control"
            id="inputName"
            placeholder="Nombre"
            name="name"
            formControlName="name"
          />
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="inputLastName">Apellido</label>
          <input
            type="text"
            class="form-control"
            id="inputLastName"
            placeholder="Apellido"
            name="last_name"
            formControlName="last_name"
          />
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="inputEmail">Email</label>
      <input
        type="text"
        class="form-control"
        id="inputEmail"
        placeholder="email@example.com"
        name="email"
        formControlName="email"
      />
    </div>
    <div class="form-group">
      <label for="inputPassword">Nueva contraseña</label>
      <input
        type="password"
        class="form-control"
        id="inputPassword"
        placeholder="Nueva contraseña"
        name="password"
        formControlName="password"
      />
    </div>
    <button type="submit" class="btn btn-primary mt-2">Actualizar</button>
  </form>
</div>
