<!-- Start Navbar -->
<nav class="navbar">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand">
      MecaniApp
    </a>
  </div>
</nav>
<!-- End Navbar -->
<!-- Start login container -->
<div class="container-fluid login-container py-5">
  <div class="container">
    <div class="row mx-3">
      <div class="col-7">
        <h1 class="login-container-title">SERVICIOS MECÁNICOS A UN CLIC</h1>
        <div class="d-flex justify-content-center">
          <a routerLink="/register" class="btn btn-outline-dark"
          >Registrarse</a
          >
        </div>
      </div>
      <div class="col-5">
        <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
          <div class="form-floating mb-3">
            <input
              type="email"
              class="form-control"
              id="floatingInput"
              formControlName="email"
              placeholder="email@example.com"
            />
            <label for="floatingInput">Usuario</label>
          </div>
          <div class="form-floating">
            <input
              type="password"
              class="form-control"
              id="floatingPassword"
              formControlName="password"
              placeholder="Contraseña"
            />
            <label for="floatingPassword">Contraseña</label>
          </div>
          <div class="container d-flex justify-content-center mt-5">
            <button type="submit" class="btn btn-dark">Iniciar sesión</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- Start login container -->

