<!-- Start Navbar -->
<nav class="navbar navbar-light bg-light justify-content-between px-5">
  <a class="navbar-brand" href="#">MecaniWeb</a>
  <button class="btn btn-outline-dark">Administrador</button>
</nav>
<!-- End Navbar -->
<!-- Start header home -->
<div class="container-fluid page-header py-5">
  <div class="container">
    <div class="row mx-3">
      <div class="col-7">
        <h1 class="page-header-title">SERVICIOS MECÁNICOS A UN CLIC</h1>
        <div class="d-flex justify-content-center">
          <a routerLink="/login" class="btn btn-dark btn-header">Unirse</a>
        </div>
      </div>
      <div class="col-5">
        <div class="image-header mx-2">img</div>
      </div>
    </div>
  </div>
</div>
<!-- End Header Home -->
<!-- Start Header Content -->
<div class="container mt-5">
  <div class="row">
    <div class="col">
      <div class="card card-header" style="width: 18rem">
        <div class="card-image-header">IMG</div>
        <div class="card-body">
          <p class="text-card-header">Regístrate</p>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card card-header" style="width: 18rem">
        <div class="card-image-header">IMG</div>
        <div class="card-body"><p class="text-card-header">Busca</p></div>
      </div>
    </div>
    <div class="col">
      <div class="card card-header" style="width: 18rem">
        <div class="card-image-header">IMG</div>
        <div class="card-body">
          <p class="text-card-header">Contrata</p>
        </div>
      </div>
    </div>
  </div>
</div>
<!--  End Header Content -->
<!-- Start landpage Content-->
<div class="container-fluid mt-5">
  <div class="row px-5 pt-5" style="background: #e9bd15; height: 427px">
    <div class="col-5">
      <div>IMG</div>
    </div>
    <div class="col-7">
      <p class="text-landpage">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sint
        expedita ipsum esse, inventore quo sunt neque! Inventore nesciunt
        facilis eum iure numquam quam odit dolorum tenetur voluptas odio?
        Sapiente corrupti at earum impedit ratione, non illum explicabo magni,
        excepturi provident ab officiis exercitationem. Quia sit dicta animi
        aliquid. Quos?
      </p>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row px-5 pt-5" style="height: 427px">
    <div class="col-7">
      <p class="text-landpage">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sint
        expedita ipsum esse, inventore quo sunt neque! Inventore nesciunt
        facilis eum iure numquam quam odit dolorum tenetur voluptas odio?
        Sapiente corrupti at earum impedit ratione, non illum explicabo magni,
        excepturi provident ab officiis exercitationem. Quia sit dicta animi
        aliquid. Quos?
      </p>
    </div>
    <div class="col-5">
      <div>IMG</div>
    </div>
  </div>
</div>
<div class="container-fluid">
  <div class="row px-5 pt-5" style="background: #e9bd15; height: 427px">
    <div class="col-5">
      <div>IMG</div>
    </div>
    <div class="col-7">
      <p class="text-landpage">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam sint
        expedita ipsum esse, inventore quo sunt neque! Inventore nesciunt
        facilis eum iure numquam quam odit dolorum tenetur voluptas odio?
        Sapiente corrupti at earum impedit ratione, non illum explicabo magni,
        excepturi provident ab officiis exercitationem. Quia sit dicta animi
        aliquid. Quos?
      </p>
    </div>
  </div>
</div>
<!-- End landpage Content -->
<!-- Stratr Download App -->
<div class="container download-app d-flex justify-content-center mt-5">
  <div class="row">
    <p class="text-download-app">
      Descarga la aplicación aquí: <i class="fas fa-star"></i>
    </p>
  </div>
</div>
<!-- End DOwnload App -->
<!-- Start footer -->
<div class="container-fluid bg-dark d-flex justify-content-between p-5 mt-5">
  <div class="footer-app-info">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Minima error modi
      in voluptatem consequuntur quis! Rerum ad necessitatibus officia quam,
      exercitationem laudantium praesentium tenetur, consequatur in quia facilis
      hic quis.
    </p>
  </div>
  <div class="footer-app-info">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Modi, dolorum.
    </p>
    <p>Lorem ipsum dolor sit amet.</p>
  </div>
</div>
<!-- End footer -->
