<!-- Start Navbar -->
<nav class="navbar">
  <div class="container-fluid">
    <a routerLink="/home" class="navbar-brand">
      MecaniApp
    </a>
    <a routerLink="/login" class="navbar-brand">
      <button type="button" class="btn btn-outline-dark">Administrador</button>
    </a>
  </div>
</nav>
<!-- End Navbar -->
<!-- Start header home -->
<section class="home" style="background-color: #efb810;">
  <div class="row">
    <div class="col-7">
      <p class="title">Servicios mecánicos</p>
        <p class="title">a un clic</p>
      <br><br>
      <p class="subtitle">Descarga la aplicación:</p>
      <br><br>
      <p class="subtitle2">
        <button type="button" class="btn-dark" routerLink="admin">Aquí</button>
      </p>
    </div>
    <div class="col-5">
      <img src="../../../assets/images/Mechanic1.png" class="img-fluid" alt="..." style="width: 100%;">
    </div>
  </div>
</section>
<!-- End Header Home -->
<!-- Start Header Content -->
<br><br>
<section class="home">
  <div class="container-fluid">
    <h2>Acerca de nosotros</h2>
    <div class="accordion">
      <div class="icon"></div>
      <h5>¿Qué es MecaniApp?</h5>
    </div>
    <div class="panel">
      <p>MecaniApp es un sistema web y aplicación móvil que reune la información de talleres mecánicos y la pone a disposición
        de todos los usuarios, garantizando servicios de calidad por parte de todos los talleres registrados.</p>
    </div>

    <div class="accordion">
      <div class="icon"></div>
      <h5>Misión</h5>
    </div>
    <div class="panel">
      <p>Ofrecer contenido de utilidad para todos los usuarios interesados en contratar servicios mecánicos. A su vez,
        apoyar con este contenido para que los talleres mecánicos registrados logren impulsar su empresa llegando a más clientes.</p>
    </div>

    <div class="accordion">
      <div class="icon"></div>
      <h5>Visión</h5>
    </div>
    <div class="panel">
      <p>Ser uno de los mejores sistemas web de contratación de servicios mecánicos, reconocida por la innovación y simpleza.</p>
    </div>
  </div>
</section>
<!--  End Header Content -->
<!-- Start landpage Content-->
<br><br>
<section class="container" >
  <div class="card">
    <div class="img-Box">
      <img src="../../../assets/images/Mobile-login.jpg">
    </div>
    <div class="content">
      <h2>Regístrate</h2>
      <p>Crea una cuenta o inicia sesión en nuestra aplicación móvil y conéctate con más de 50 talleres mecánicos registrados</p>
    </div>
  </div>
  <div class="card">
    <div class="img-Box">
      <img src="../../../assets/images/search.jpg">
    </div>
    <div class="content">
      <h2>Busca</h2>
      <p>Busca el servicio que requieras, puedes filtrar tus respuestas según el taller mecánico más cercano</p>
    </div>
  </div>
  <div class="card">
    <div class="img-Box">
      <img src="../../../assets/images/hire2.jpg">
    </div>
    <div class="content">
      <h2>Contrata</h2>
      <p>Contacta al mecánico de tu preferencia y disfruta del servicio</p>
    </div>
  </div>
  <br>
</section>
<section class="section4" style="background-color: #efb810;">
  <div class="left"></div>
  <div class="right">
    <div class="right-content">
      <p><strong>El auto</strong> más vendido del mundo, desde su creación
        en 1966 hasta la actualidad es el Toyota Corolla, con más de 35 millones de unidades..
      </p>
      <a href="#" class="btn-seeMore">Ver más</a>
    </div>
  </div>
</section>
<section class="section4" style="background-color: #efb810;">
  <div class="left2">
    <div class="left-content">
      <p><strong>En Ecuador</strong> existen 1.965.538 vehículos livianos (SUV y camionetas) y
        301.806 vehículos comerciales (camiones, autobuses y vans)
      </p>
      <a href="#" class="btn-seeMore">Ver más</a>
    </div>
  </div>
  <div class="right2"></div>
</section>
<section class="section4" style="background-color: #efb810;">
  <div class="left3"></div>
  <div class="right">
    <div class="right-content">
      <p><strong> Un airbag</strong> salta a unos 300 km/h y en menos de un segundo cuando es activado. Tarda 20
        milisegundos en inflarse y está diseñado para funcionar en un impacto de 30 km/h.
      </p>
      <a href="#" class="btn-seeMore">Ver más</a>
    </div>
  </div>
</section>
<!-- End landpage Content -->
<!-- Start footer -->
<footer>
  <div class="footer-content" style="margin: 0px 2rem;">
    <h3>MecaniApp</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Soluta repudiandae velit nam sapiente cum debitis illo sequi ad, natus quibusdam iusto possimus voluptatibus, repellendus eos quod, voluptas non doloremque architecto.</p>
    <ul class="socials">
      <li><a href="#"><i class="fa fa-download"></i></a></li>
    </ul>
  </div>
  <div class="footer-bottom" style="margin: 0px 2rem;">
    <p>Copyright &copy;2021 MecaniApp diseñado por <span>Karla Chinacalle y Gabriel Salgado</span> </p>
  </div>
</footer>
<!-- End footer -->
