<button mat-button class="menu-button" routerLink="/profile">
  <mat-icon>person</mat-icon>
  <span>Profile</span>
</button>

<mat-divider></mat-divider>

<div *ngIf="role === 'user'">
  <button mat-button class="menu-button mt-5" routerLink="/afiliacion">
    <mat-icon>inventory_2</mat-icon>
    <span>Solicitar afiliación</span>
  </button>
  <button mat-button class="menu-button" routerLink="/misafiliaciones">
    <mat-icon>3p</mat-icon>
    <span>Mis afiliaciones</span>
  </button>
</div>

<div *ngIf="role === 'admin'">
  <button mat-button class="menu-button" routerLink="/solicitudes">
    <mat-icon>inventory_2</mat-icon>
    <span>Solicitudes</span>
  </button>
</div>

<mat-divider class="mt-5" *ngIf="approvedMech"></mat-divider>

<div *ngIf="approvedMech" class="mt-5">
  <button mat-button class="menu-button" routerLink="/taller">
    <mat-icon>build</mat-icon>
    <span>Taller mecánico</span>
  </button>
</div>

<mat-divider class="mt-5"></mat-divider>

<button mat-button class="menu-button" (click)="logOut()">
  <mat-icon>logout</mat-icon>
  <span>Cerrar sesión</span>
</button>
