<div *ngIf="isLoading">
  <app-loading></app-loading>
</div>
<div class="container" *ngIf="!isLoading">
  <div class="row">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Información de usaurio</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <div class="row">
          <div class="col">
            <h2>Nombre:</h2>
            <p>{{ user.name }}</p>
          </div>
          <div class="col">
            <h2>Apellido:</h2>
            <p>{{ user.last_name }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <h2>Email</h2>
            <p>{{ user.email }}</p>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="row">Solicitud info</div>
</div>
