<div class="container-fluid m-3">
  <div class="row">
    <mat-card class="mb-5">
      <mat-card-header>
        <mat-card-title>Promoción</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <form [formGroup]="promocionForm" (ngSubmit)="onSubmit()">
          <div class="row">
            <div class="col">
              <div class="form-group">
                <label for="inputTitle">Título</label>
                <input
                  type="text"
                  class="form-control"
                  id="inputTitle"
                  placeholder="Titulo"
                  name="tatle"
                  formControlName="title"
                />
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col">
              <button class="btn btn-outline-success m-3" type="submit">
                <mat-icon>save</mat-icon>
                Actualizar
              </button>
            </div>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </div>
</div>
